cop4856/proj1/src/proj1/photo.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT photo (type, creator, mimetype, location, keywords)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT creator (name, url)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT mimetype (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT keywords (keyword*)>
<!ELEMENT keyword (#PCDATA)>